# NINTENDO ENTERTAINMENT SYSTEM - ANIMATED OVERLAY FOR RETROARCH (PORTRAIT MODE)
# BY FERCHO
# 27 OCTOBER 2022 / UPDATE 1: 15 JANUARY 2023
# INFO AND UPDATES: https://youtube.com/@fer_cho
overlays = 4
overlay0_name = "portrait-light-bezel"
overlay0_full_screen = true
overlay0_normalized = true
overlay0_alpha_mod = 0.000100
overlay0_aspect_ratio = 0.45
overlay0_descs = 28
overlay0_desc0 = "BEZEL-TOP-L,0.176,0.090,rect,0.32,0.09"
overlay0_desc0_overlay = BEZEL_TOP_LEFT.png
overlay0_desc0_alpha_mod = 1
overlay0_desc1 = "BEZEL-TOP-R,0.825,0.090,rect,0.32,0.09"
overlay0_desc1_overlay = BEZEL_TOP_RIGHT.png
overlay0_desc1_alpha_mod = 1
overlay0_desc2 = "BEZEL-BOTTOM-L,0.176,0.265,rect,0.32,0.09"
overlay0_desc2_overlay = BEZEL_BOTTOM_LEFT.png
overlay0_desc2_alpha_mod = 1
overlay0_desc3 = "BEZEL-BOTTOM-R,0.827,0.265,rect,0.32,0.09"
overlay0_desc3_overlay = BEZEL_BOTTOM_RIGHT.png
overlay0_desc3_alpha_mod = 1
overlay0_desc4 = "P-CENTER,0.5,0.5,rect,0.25,0.5"
overlay0_desc4_overlay = 0_P_CENTER.png
overlay0_desc4_alpha_mod = 1
overlay0_desc5 = "P-LEFT,0.25,0.5,rect,0.25,0.5"
overlay0_desc5_overlay = 0_P_LEFT.png
overlay0_desc5_alpha_mod = 1
overlay0_desc6 = "P-RIGHT,0.75,0.5,rect,0.25,0.5"
overlay0_desc6_overlay = 0_P_RIGHT.png
overlay0_desc6_alpha_mod = 1
overlay0_desc7 = "up,0.236,0.597,rect,0.0665,0.0265"
overlay0_desc7_overlay = PAD_UP.png
overlay0_desc8 = "down,0.2365,0.6995,rect,0.0660,0.027"
overlay0_desc8_overlay = PAD_DOWN.png
overlay0_desc9 = "left,0.1230,0.649,rect,0.0595,0.02895"
overlay0_desc9_overlay = PAD_LEFT.png
overlay0_desc10 = "right,0.353,0.649,rect,0.059,0.0288"
overlay0_desc10_overlay = PAD_RIGHT.png
overlay0_desc11 = "left|up,0.1,0.588,rect,0.055,0.026"
overlay0_desc12 = "up|right,0.373,0.588,rect,0.055,0.026"
overlay0_desc13 = "left|down,0.1,0.71,rect,0.055,0.026"
overlay0_desc14 = "down|right,0.373,0.71,rect,0.055,0.026"
overlay0_desc15 = "select,0.4147,0.7989,rect,0.0588,0.014"
overlay0_desc15_overlay = SYSTEM.png
overlay0_desc16 = "start,0.5828,0.7989,rect,0.0588,0.014"
overlay0_desc16_overlay = SYSTEM.png
overlay0_desc17 = "b,0.6799,0.6485,rect,0.0835,0.038"
overlay0_desc17_overlay = 0_BUTTON.png
overlay0_desc18 = "a,0.8720,0.6485,rect,0.0835,0.038"
overlay0_desc18_overlay = 0_BUTTON.png
overlay0_desc19 = "exit_emulator,0.115,0.957,rect,0.07,0.018"
overlay0_desc20 = "r3|y,0.2815,0.9577,rect,0.0765,0.0235"
overlay0_desc20_overlay = 0_RESET_BTN.png
overlay0_desc21 = "overlay_next,0.718,0.957,rect,0.07,0.018"
overlay0_desc21_next_target = "portrait-dark-bezel"
overlay0_desc22 = "overlay_next,0.888,0.957,rect,0.07,0.018"
overlay0_desc22_next_target = "portrait-light"
overlay0_desc23 = "menu_toggle,0.5,0.96,rect,0.105,0.04"
overlay0_desc23_overlay = 0_P_MENU.png
overlay0_desc23_alpha_mod = 1
overlay0_desc24 = "a|b,0.775,0.648,rect,0.025,0.038"
overlay0_desc25 = "r2,0.9145,0.4463,rect,0.0850,0.0388"
overlay0_desc25_overlay = 0_P_FFW.png
overlay0_desc26 = "hold_fast_forward,0.919,0.447,rect,0.06821,0.0256"
overlay0_desc27 = "reset,0.282,0.955,rect,0.065,0.018"
overlay1_name = "portrait-light"
overlay1_full_screen = true
overlay1_normalized = true
overlay1_alpha_mod = 0.000100
overlay1_aspect_ratio = 0.45
overlay1_descs = 24
overlay1_desc0 = "P-CENTER,0.5,0.5,rect,0.25,0.5"
overlay1_desc0_overlay = 0_P_CENTER.png
overlay1_desc0_alpha_mod = 1
overlay1_desc1 = "P-LEFT,0.25,0.5,rect,0.25,0.5"
overlay1_desc1_overlay = 0_P_LEFT.png
overlay1_desc1_alpha_mod = 1
overlay1_desc2 = "P-RIGHT,0.75,0.5,rect,0.25,0.5"
overlay1_desc2_overlay = 0_P_RIGHT.png
overlay1_desc2_alpha_mod = 1
overlay1_desc3 = "up,0.236,0.597,rect,0.0665,0.0265"
overlay1_desc3_overlay = PAD_UP.png
overlay1_desc4 = "down,0.2365,0.6995,rect,0.0660,0.027"
overlay1_desc4_overlay = PAD_DOWN.png
overlay1_desc5 = "left,0.1230,0.649,rect,0.0595,0.02895"
overlay1_desc5_overlay = PAD_LEFT.png
overlay1_desc6 = "right,0.353,0.649,rect,0.059,0.0288"
overlay1_desc6_overlay = PAD_RIGHT.png
overlay1_desc7 = "left|up,0.1,0.588,rect,0.055,0.026"
overlay1_desc8 = "up|right,0.373,0.588,rect,0.055,0.026"
overlay1_desc9 = "left|down,0.1,0.71,rect,0.055,0.026"
overlay1_desc10 = "down|right,0.373,0.71,rect,0.055,0.026"
overlay1_desc11 = "select,0.4147,0.7989,rect,0.0588,0.014"
overlay1_desc11_overlay = SYSTEM.png
overlay1_desc12 = "start,0.5828,0.7989,rect,0.0588,0.014"
overlay1_desc12_overlay = SYSTEM.png
overlay1_desc13 = "b,0.6789,0.6485,rect,0.0835,0.038"
overlay1_desc13_overlay = 0_BUTTON.png
overlay1_desc14 = "a,0.871,0.6485,rect,0.0835,0.038"
overlay1_desc14_overlay = 0_BUTTON.png
overlay1_desc15 = "exit_emulator,0.115,0.957,rect,0.07,0.018"
overlay1_desc16 = "r3|y,0.2815,0.9577,rect,0.0765,0.0235"
overlay1_desc16_overlay = 0_RESET_BTN.png
overlay1_desc17 = "overlay_next,0.718,0.957,rect,0.07,0.018"
overlay1_desc17_next_target = "portrait-dark"
overlay1_desc18 = "overlay_next,0.8836,0.9578,rect,0.0765,0.0234"
overlay1_desc18_overlay = 0_BEZEL_BUTTON.png
overlay1_desc18_next_target = "portrait-light-bezel"
overlay1_desc19 = "menu_toggle,0.5,0.96,rect,0.105,0.04"
overlay1_desc19_overlay = 0_P_MENU.png
overlay1_desc19_alpha_mod = 1
overlay1_desc20 = "a|b,0.775,0.648,rect,0.025,0.038"
overlay1_desc21 = "r2,0.9145,0.4463,rect,0.0850,0.0388"
overlay1_desc21_overlay = 0_P_FFW.png
overlay1_desc22 = "hold_fast_forward,0.919,0.447,rect,0.06821,0.0256"
overlay1_desc23 = "reset,0.282,0.955,rect,0.065,0.018"
overlay2_name = "portrait-dark-bezel"
overlay2_full_screen = true
overlay2_normalized = true
overlay2_alpha_mod = 0.000100
overlay2_aspect_ratio = 0.45
overlay2_descs = 28
overlay2_desc0 = "BEZEL-TOP-L,0.176,0.090,rect,0.32,0.09"
overlay2_desc0_overlay = BEZEL_TOP_LEFT.png
overlay2_desc0_alpha_mod = 1
overlay2_desc1 = "BEZEL-TOP-R,0.825,0.090,rect,0.32,0.09"
overlay2_desc1_overlay = BEZEL_TOP_RIGHT.png
overlay2_desc1_alpha_mod = 1
overlay2_desc2 = "BEZEL-BOTTOM-L,0.176,0.265,rect,0.32,0.09"
overlay2_desc2_overlay = BEZEL_BOTTOM_LEFT.png
overlay2_desc2_alpha_mod = 1
overlay2_desc3 = "BEZEL-BOTTOM-R,0.827,0.265,rect,0.32,0.09"
overlay2_desc3_overlay = BEZEL_BOTTOM_RIGHT.png
overlay2_desc3_alpha_mod = 1
overlay2_desc4 = "P-CENTER,0.5,0.5,rect,0.25,0.5"
overlay2_desc4_overlay = 1_P_CENTER.png
overlay2_desc4_alpha_mod = 1
overlay2_desc5 = "P-LEFT,0.25,0.5,rect,0.25,0.5"
overlay2_desc5_overlay = 1_P_LEFT.png
overlay2_desc5_alpha_mod = 1
overlay2_desc6 = "P-RIGHT,0.75,0.5,rect,0.25,0.5"
overlay2_desc6_overlay = 1_P_RIGHT.png
overlay2_desc6_alpha_mod = 1
overlay2_desc7 = "up,0.236,0.597,rect,0.0665,0.0265"
overlay2_desc7_overlay = PAD_UP.png
overlay2_desc8 = "down,0.2365,0.6995,rect,0.0660,0.027"
overlay2_desc8_overlay = PAD_DOWN.png
overlay2_desc9 = "left,0.1230,0.649,rect,0.0595,0.02895"
overlay2_desc9_overlay = PAD_LEFT.png
overlay2_desc10 = "right,0.353,0.649,rect,0.059,0.0288"
overlay2_desc10_overlay = PAD_RIGHT.png
overlay2_desc11 = "left|up,0.1,0.588,rect,0.055,0.026"
overlay2_desc12 = "up|right,0.373,0.588,rect,0.055,0.026"
overlay2_desc13 = "left|down,0.1,0.71,rect,0.055,0.026"
overlay2_desc14 = "down|right,0.373,0.71,rect,0.055,0.026"
overlay2_desc15 = "select,0.4147,0.7989,rect,0.0620,0.014"
overlay2_desc15_overlay = SYSTEM.png
overlay2_desc16 = "start,0.5835,0.7989,rect,0.0620,0.014"
overlay2_desc16_overlay = SYSTEM.png
overlay2_desc17 = "b,0.6789,0.6475,rect,0.0835,0.038"
overlay2_desc17_overlay = 1_BUTTON.png
overlay2_desc18 = "a,0.871,0.6475,rect,0.0835,0.038"
overlay2_desc18_overlay = 1_BUTTON.png
overlay2_desc19 = "exit_emulator,0.114,0.957,rect,0.07,0.018"
overlay2_desc20 = "r3|y,0.2819,0.9585,rect,0.0766,0.0235"
overlay2_desc20_overlay = 1_RESET_BTN.png
overlay2_desc21 = "reset,0.2819,0.9585,rect,0.0750,0.0220"
overlay2_desc22 = "overlay_next,0.715,0.957,rect,0.07,0.018"
overlay2_desc22_next_target = "portrait-light-bezel"
overlay2_desc23 = "overlay_next,0.883,0.957,rect,0.07,0.018"
overlay2_desc23_next_target = "portrait-dark"
overlay2_desc24 = "menu_toggle,0.5,0.96,rect,0.105,0.04"
overlay2_desc24_overlay = 1_P_MENU.png
overlay2_desc24_alpha_mod = 1
overlay2_desc25 = "a|b,0.775,0.648,rect,0.025,0.038"
overlay2_desc26 = "r2,0.9145,0.4453,rect,0.0850,0.0388"
overlay2_desc26_overlay = 1_P_FFW.png
overlay2_desc27 = "hold_fast_forward,0.919,0.447,rect,0.06821,0.0256"
overlay3_name = "portrait-dark"
overlay3_full_screen = true
overlay3_normalized = true
overlay3_alpha_mod = 0.000100
overlay3_aspect_ratio = 0.45
overlay3_descs = 24
overlay3_desc0 = "P-CENTER,0.5,0.5,rect,0.25,0.5"
overlay3_desc0_overlay = 1_P_CENTER.png
overlay3_desc0_alpha_mod = 1
overlay3_desc1 = "P-LEFT,0.25,0.5,rect,0.25,0.5"
overlay3_desc1_overlay = 1_P_LEFT.png
overlay3_desc1_alpha_mod = 1
overlay3_desc2 = "P-RIGHT,0.75,0.5,rect,0.25,0.5"
overlay3_desc2_overlay = 1_P_RIGHT.png
overlay3_desc2_alpha_mod = 1
overlay3_desc3 = "up,0.236,0.597,rect,0.0665,0.0265"
overlay3_desc3_overlay = PAD_UP.png
overlay3_desc4 = "down,0.2365,0.6995,rect,0.0660,0.027"
overlay3_desc4_overlay = PAD_DOWN.png
overlay3_desc5 = "left,0.1230,0.649,rect,0.0595,0.02895"
overlay3_desc5_overlay = PAD_LEFT.png
overlay3_desc6 = "right,0.353,0.649,rect,0.059,0.0288"
overlay3_desc6_overlay = PAD_RIGHT.png
overlay3_desc7 = "left|up,0.1,0.588,rect,0.055,0.026"
overlay3_desc8 = "up|right,0.373,0.588,rect,0.055,0.026"
overlay3_desc9 = "left|down,0.1,0.71,rect,0.055,0.026"
overlay3_desc10 = "down|right,0.373,0.71,rect,0.055,0.026"
overlay3_desc11 = "select,0.4147,0.7989,rect,0.0620,0.014"
overlay3_desc11_overlay = SYSTEM.png
overlay3_desc12 = "start,0.5835,0.7989,rect,0.0620,0.014"
overlay3_desc12_overlay = SYSTEM.png
overlay3_desc13 = "b,0.6789,0.6475,rect,0.0835,0.038"
overlay3_desc13_overlay = 1_BUTTON.png
overlay3_desc14 = "a,0.871,0.6475,rect,0.0835,0.038"
overlay3_desc14_overlay = 1_BUTTON.png
overlay3_desc15 = "exit_emulator,0.114,0.957,rect,0.07,0.018"
overlay3_desc16 = "r3|y,0.2819,0.9585,rect,0.0766,0.0235"
overlay3_desc16_overlay = 1_RESET_BTN.png
overlay3_desc17 = "reset,0.2819,0.9585,rect,0.0750,0.0220"
overlay3_desc18 = "overlay_next,0.715,0.957,rect,0.07,0.018"
overlay3_desc18_next_target = "portrait-light"
overlay3_desc19 = "overlay_next,0.8830,0.9578,rect,0.0766,0.0235"
overlay3_desc19_overlay = 1_BEZEL_BUTTON.png
overlay3_desc19_next_target = "portrait-dark-bezel"
overlay3_desc20 = "menu_toggle,0.5,0.96,rect,0.105,0.04"
overlay3_desc20_overlay = 1_P_MENU.png
overlay3_desc20_alpha_mod = 1
overlay3_desc21 = "a|b,0.775,0.648,rect,0.025,0.038"
overlay3_desc22 = "r2,0.9145,0.4453,rect,0.0850,0.0388"
overlay3_desc22_overlay = 1_P_FFW.png
overlay3_desc23 = "hold_fast_forward,0.919,0.447,rect,0.06821,0.0256"